@model EFIP1.Models.Calificacion

@{
    ViewBag.Title = "Calificar Proveedor";
    Layout = "../Shared/_Layout.cshtml";
}

<html>
<head>
    <style>
        .smallTextArea {
            height: 50px;
        }

        .toast {
            opacity: 1 !important;
        }

        #toast-container > div {
            opacity: 1 !important;
        }
    </style>
</head>
<body>
    @using (Ajax.BeginForm("PostCalificacion", "Home", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "myForm",
        HttpMethod = "POST",
        OnSuccess = "toastr.success('La calificación fue añadida exitosamente', 'Éxito');"
    }, new { Id = "myForm" }))
    {
        <div class="jumbotron">
            <h1>Calificar Proveedor</h1>
            <br /><br />
            <div>
                <div class="row">
                    <label class="col-lg-4">N° Proveedor</label>
                    @Html.TextAreaFor(m => m.NombreProveedor, new { @class = "smallTextArea" })
                </div>
                <div class="row">
                    <label class="col-lg-4">Orden de Compra</label>
                    @Html.TextAreaFor(m => m.NroOrdenCompra, new { @class = "smallTextArea" })
                </div>
                @*<div class="row">
                    <label class="col-lg-4">Fecha de Entrega</label>
                    <textarea></textarea>
                    @
                    @*TODO: Use jQuery calendar*@
            </div>
            <div class="row">
                <label class="col-lg-4">Forma de Pago</label>
                @Html.EnumDropDownListFor(m => m.FormaPago)
            </div>
            <div class="row">
                <label class="col-lg-4">Puntaje de Calificación</label>
                @Html.TextAreaFor(m => m.Puntaje, new { @class = "smallTextArea" })
            </div>
            <div class="row">
                <label class="col-lg-4">Observaciones</label>
                @Html.TextAreaFor(m => m.Observaciones)
            </div>
            <br /><br />
            <div class="row"><button id="calificar" style="float: right">Calificar</button></div>
        </div>
    }
</body>
</html>
<script>
    $(function () {
        //$("#calificar").click(function () {
        //    toastr.options.progressBar = true;
        //    toastr.success('La calificación fue añadida exitosamente', 'Éxito');
        //});
        //$("#myForm").bind('ajax:complete', function () {
        //    //event.preventDefault();

        //});
    });
</script>